* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  background-color: #f7efe8;
  padding-left: 3%;
}
.logo {
  margin-top: 10px;
}
#logo {
  width: 8rem;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  text-decoration: none;
  list-style-type: none;
}
.nav-right {
  display: flex;
  justify-content: space-around;
  width: 8%;
  text-decoration: none;
  list-style-type: none;
  margin-right: 1%;
}
.nav-right img {
  width: 30px;
  height: auto;
}
.nav-links a {
  font-size: large;
  text-decoration: none;
  color: #664332;
  font-weight: bold;
}
.burger {
  cursor: pointer;
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #4fc0b6;
  margin: 5px;
}

@media screen and (max-width: 1400px) {
  .nav-links {
    width: 50%;
  }
  .nav-right {
    width: 10%;
  }
}
@media screen and (max-width: 1200px) {
  body {
    overflow-x: hidden;
  }
  .nav-right {
    display: none;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #f7efe8;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .burger {
    display: block;
    position: absolute;
    top: 20px;
    right: 0px;

    margin-right: 5%;
  }
}

.nav-active {
  transform: translateX(0%);
}

.line1,
.line2 {
  display: flex;
  padding: 2rem 4rem;
  justify-content: space-around;
  align-items: center;
}
.line3 {
  display: flex;
  flex-direction: column;
  padding: 2rem 0rem 2rem 9rem;
  justify-content: space-around;
}
.gallery-link {
  align-self: flex-end;
  padding-top: 2rem;
}

.line4 {
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
  margin-left: 5rem;
}

.brands {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;

  justify-content: space-between;
}
.brands * {
  max-height: 10rem;
  flex: 0 0 19%;
  text-decoration: none;
}
.stokke-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.line3top {
  display: flex;
  justify-content: space-between;
}

.gallery-link {
  margin-top: 0.5rem;
  margin-right: 8rem;
}
.gallery-link-text {
  color: #4fc0b6;
  text-decoration: none;
}

.decor4 {
  width: 100%;
  height: 0.2rem;
  background-color: #664332;
  margin-top: 0.3rem;
}

.gallery-preview {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.gallery-preview div img {
  width: 90%;
}

.img1 img,
.img2 img {
  width: 40vw;
}
.text1,
.text2 {
  width: 35vw;
  display: flex;
  flex-direction: column;
}

.title1,
.title2,
.title3,
.title4 {
  margin-bottom: 1rem;
}

.decor1,
.decor2,
.decor3,
.decor5 {
  width: 7rem;
  height: 0.2rem;
  background-color: #4fc0b6;
  margin-top: 0.3rem;
}

.footer {
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  width: 100%;
  bottom: 0px;
  height: 300px;

  background-color: #f7efe8;
}
.slogan {
  width: 60%;
  display: flex;
  align-items: center;
  padding: 2rem 0 0.3rem 0;
}
.bot-logo {
  width: 40%;
}
.bot-logo img {
  width: 100%;
}
.slogan-text img {
  padding-left: 1rem;
  width: 80%;
}

.map {
  height: 100%;
  padding: 1rem;
  width: 30%;
  padding-bottom: 2rem;
}
#map {
  height: 100%;
  width: 80%;
}
.bot-nav {
  display: flex;
  flex-direction: column;

  width: 40%;
  padding-left: 6rem;

  padding-bottom: 3rem;
}

.bot-social {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  width: 60%;
}

.bot-social-links {
  display: flex;

  justify-content: space-between;
  text-decoration: none;
  list-style-type: none;
}
.bot-social-links li {
  padding-left: 10px;
}
.bot-social-links img {
  width: 2rem;
}

.phone {
  margin-right: 0.7rem;
  width: 1.3rem;
}
.bot-text {
  text-decoration: none;
  list-style-type: none;
}

.bot-text a {
  text-decoration: none;
  color: black;
}
.bot-text li {
  padding: 0.2rem, 0;
}
.number {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
